<div class="center hero-unit">
  <h1>Welcome to the Rose webshop app</h1>

  <h2>
    This is the home page for the Rose webshop app while under development.
  </h2>

  <%= link_to "Sign up", '#', class: "btn btn-large btn-primary" %>
</div>